{
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "test/**",
    "test{,-*}.js",
    "**/*.test.js",
    "**/__tests__/**",
    "**/node_modules/**",
    "**/testing-utilities/**",
    "**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "check-coverage": true,
  "per-file": false,
  "lines": 95,
  "statements": 95,
  "functions": 90,
  "branches": 89
}
